<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>Document</title>
</head>
<body>
    <h1>How long will you live?</h1>
    <p id="credits">by Agify.io</p>
    <div style="height: 50px;"></div>

    <div class="ball">
        <form id="name_form" action="http://127.0.0.1:5050/test2" method="POST">
        <input name="user" type="text">
        <input type="submit" value="Click me">
        </form>
    </div>


</body>
</html>