<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/name.css"/>
    <title>Document</title>
</head>
<body>
    <h1>How long will you live?</h1>
    <p id="credits">by Agify.io</p>
    <div style="height: 20px;"></div>

    <h1 style="padding-bottom: 20px;">{{user_name}}</h1>
    <div id="ominous_message">
    <h3>Your insatiable curiosity has brought you to this fateful page.</h3>
    <h3>Shall the revelation of your destiny shatter you?</h3>
    <h3>Or will you grasp it, a haunting reminder to truly live?</h3>
    <h3>REMEMBER, curiosity killed the cat...</h3>
    </div>
    <h1>{{user_age}}</h1>
</body>
</html>